/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('assets/fonts/roboto-v20-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('assets/fonts/roboto-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('assets/fonts/roboto-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('assets/fonts/roboto-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('assets/fonts/roboto-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('assets/fonts/roboto-v20-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-500 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('/assets/fonts/roboto-v20-latin-500.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('assets/fonts/roboto-v20-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('assets/fonts/roboto-v20-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('assets/fonts/roboto-v20-latin-500.woff') format('woff'), /* Modern Browsers */
    url('assets/fonts/roboto-v20-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
    url('assets/fonts/roboto-v20-latin-500.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-900 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: url('/assets/fonts/roboto-v20-latin-900.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('assets/fonts/roboto-v20-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('assets/fonts/roboto-v20-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
    url('assets/fonts/roboto-v20-latin-900.woff') format('woff'), /* Modern Browsers */
    url('assets/fonts/roboto-v20-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
    url('assets/fonts/roboto-v20-latin-900.svg#Roboto') format('svg'); /* Legacy iOS */
}
html{

}
body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #333333;
}
.wrapper{
    max-width: 1620px;
    margin: 0 auto;
}
.wrapper2{
    max-width: 1200px;
    margin: 0 auto;
}
.wrapper3{
    max-width: 790px;
    margin: 0 auto;
}
.flex-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 94px;
}
.scroll-panel{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0;
}
.scroll{
    width: 245px;
    height: 5px;
    background-color: #BDBDBD;
    position: relative;
    margin-bottom: 30px;
    display: flex;
}
.numeric-scroll{
    text-align: center;
    margin-bottom: 11px;
}
.numeric-scroll-span{
    font-weight: 900;
    font-size: 14px;
    color: #BDBDBD;
}
.numeric-scroll-span-active{
    font-weight: 900;
    font-size: 24px;
    color: #333333;
}
.scroll-position{
    min-width: calc(100% / 8);
    height: 10px;
    position: relative;
    top: -2.5px;
}
.scroll-position:hover{
    background-color: #BDBDBD;
    cursor: pointer;
    transition: 0.3s;
}
.position-active{
    background-color: #333333;
    min-width: calc(100% / 8);
    height: 10px;
    position: relative;
    top: -2.5px;
}
.header{
    box-shadow: 0px 4px 8px rgba(44, 101, 77, 0.08);
}
.header__logo{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    color: #333333;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
}
.header__logo span:first-child{
    text-align: center;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
}
.header__logo span:last-child{
    text-align: center;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    letter-spacing: 0.08em;
}
.header__nav{
    width: 33%;
}
.header__nav-list{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.header__nav-list li a{
    text-decoration: none;
    font-weight: 500;
    color: #333333;
}
.header__nav-list{
    margin: 0;
}
.header__checkbox{
    display: flex;
    align-items: center;
}
.header__checkbox-box{
    width: 54px;
    height: 30px;
    background: #F2F2F2;
    border-radius: 190px;
    display: inline-block;
    position: relative;
}
.header__checkbox-box:hover{
    cursor: pointer;
}
.header__checkbox input{
    display: none;
}

.header__checkbox-bowl{
    width: 20px;
    height: 20px;
    background: #FFFFFF;
    box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.15);
    border-radius: 50%;
    position: absolute;
    left: 6px;
    top: 5px;
    transition: 0.3s;
}
.header__checkbox #night:checked + label #bowl{
    position: absolute;
    top: 5px;
    left: 28px;
    background-color: #1B1B1B;
}
.header__checkbox #night:checked + label{
    background: #4F4F4F;
}
.main{
    background-image: url("assets/images/main_background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    /*height: calc(100vh - 94px);*/
    overflow: hidden;
}
.main-content{
    display: flex;
}
.main-slider-line-block{
    margin-top: 200px;
    position: relative;
    left: 700px;
    top: -140px;
}
.main-slider-line-block .scroll-panel{
    position: relative;
    top: 170px;
    left: -340px;
}
.main-slider-line-block .scroll-panel .scroll .position-active{
    background-color: #ffffff;
}
.main-slider-line-block .scroll-panel .numeric-scroll .numeric-scroll-span{
    color: #BDBDBD;
}
.main-slider-line{
    position: relative;
    display: flex;
    align-items: center;
    height: 0;
}
.main-slider-line div{
    display: flex;
    align-items: center;
    width: 100%;
}
.main-slider-line{
    border-bottom: 1px solid #FEFEFE;
    width: 100%;
    position: relative;
}

.main-slider-img-block div:nth-child(1){
    background-image: url("assets/images/pets-animal-2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 203px;
    width: 140px;
    margin: 0 23px 0 135px;
}
.main-slider-img-block div:nth-child(2){
    background-image: url("assets/images/pets-animal-1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 203px;
    width: 140px;
    margin: 0 23px;
}
.main-slider-img-block div:nth-child(3){
    background-image: url("assets/images/pets-animal-3.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 203px;
    width: 140px;
    margin: 0 23px;
}
.main-slider-img-block div:nth-child(4){
    background-image: url("assets/images/pets-animal-4.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 203px;
    width: 140px;
    margin: 0 23px;
}
.main-slider-img-block div:nth-child(5){
    background-image: url("assets/images/pets-animal-4.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 203px;
    width: 140px;
    margin: 0 23px;
}
#slider-img-active{
    height: 352px;
    width: 245px;
}
.main-slider-line-block div span{
    color:  #FEFEFE;
    position: relative;
    left: -15px;
}
.main .footer-icons{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    top: -100px;
    width: 100px;
}
.main .footer-icons a{
    margin: 7.5px 0;
}
h1{
    margin: 0;
    height: 0;
    width: 0;
    font-size: 0;
}
.title{
    width: 100%;
}
#title{
    font-weight: 900;
    font-size: 89px;
    color: #FEFEFE;
    max-width: 793px;
    text-align: left;
    margin: 206px 0 37px;
}
.flex-center{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /*max-width: 790px;*/
}
.flex-row{
    display: flex;
    justify-content: center;
}
h2{
    text-align: start;
    font-weight: 900;
    font-size: 48px;
    line-height: 56px;
    color: #333333;
    margin: 0;
}
h2 + p{
    margin: 30px 0;
    font-weight: normal;
    font-size: 14px;
    color: #4F4F4F;
}
h3{
    text-align: start;
    font-weight: 900;
    font-size: 48px;
    line-height: 56px;
    color: #333333;
    margin-top: 0;
}
h4{
    font-weight: 900;
    font-size: 20px;
    text-align: center;
    color: #4F4F4F;
    max-width: 134px;
    margin: 0;
}
.footer-logo{
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    margin: 34px 0 35px;
}
h5{
    font-weight: 900;
    font-size: 20px;
    text-align: center;
    color: #4F4F4F;
    margin: 0 auto;
}
h6{
    font-weight: 900;
    font-size: 20px;
    text-align: center;
    color: #333333;
    margin: 0;
}
section{
    padding: 100px 0;
}
.section-gray{
    background-color: #F2F2F2;
}
.section-description{
    text-align: center;
    width: 380px;
    padding: 15px;
}
.section-description p{
    text-align: left;
    margin: 0;
}
.section-description h5{
    margin: 15px 0;
}
.pets, .contact-card-block{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.pets span, .contact-card-block span{
    font-size: 40px;
    box-sizing: border-box;
}
.pets > span:hover, .contact-card-block > span:hover{
    cursor: pointer;
    color: #999999;
}
.pets > div{
    height: 399px;
    width: 250px;
    border-radius: 5px;
}
.pets > div:nth-child(2){
    background-image: url("assets/images/pets-animal-1.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 20px 0 30px;
}
.pets > div:nth-child(3){
    background-image: url("assets/images/pets-animal-2.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 20px 0 0;
}
.pets > div:nth-child(4){
    background-image: url("assets/images/pets-animal-3.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 20px 0 0;
}
.pets > div:nth-child(5){
    background-image: url("assets/images/pets-animal-4.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 30px 0 0;
}
.pets-card{
    display: flex;
    justify-content: center;
}
.pets-card-text{
    opacity: 0;
    transition: 0.3s;
    position: relative;
    background-color: rgba(0,0,0,0.2);
    padding: 11px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 48px;
}
.pets-card-text p{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #FFFFFF;
    max-width: 80%;
}
.pets-card-text a{
    display: flex;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #FEFEFE;
    font-size: 12px;
    margin-right: 10px;
}
.pets-card-text-link{
    display: flex;
}
.pets-card-text-link .watch-online{
    color: #4BD8B5;
}
.pets-card-text a span{
    font-size: 24px;
}
.pets-card:hover .pets-card-text{
    opacity: 1;
    cursor: pointer;
}
.pay{
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    color: #4F4F4F;
}
.pay-block{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.pay-ico{
    border-radius: 50%;
    background: linear-gradient(106.89deg, #4BD8B5 -14.32%, #49D6DF 100.68%);
    height: 245px;
    width: 245px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 92px 0 60px;
}
.pay-ico div{
    height: 241px;
    width: 241px;
    border-radius: 50%;
    background-color: #F2F2F2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.pay-ico div img{
    margin-bottom: 18px;
}
.contact-card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 310px;
    background: #FEFEFE;
    box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.5);
    border-radius: 5px;
    margin: 15px;
}
.contact-card div{
    margin: 17px 73px 0;
}
.contact-card img{
    height: 68px;
    width: 68px;
    border-radius: 50%;
    border: 1px solid #BDBDBD;
    margin-bottom: 17px;
}
.map{
    margin: 12px 0 35px;
    display: block;
    position: relative;
    z-index: 1;
}
.map-cursor{
    position: absolute;
}
.cursor-eagle{
    left: 130px;
    top: 80px;
}
.cursor-alligator{
    left: 250px;
    top: 90px;
}
.cursor-monkey{
    left: 570px;
    top: 185px;
}
.cursor-panda{
    left: 900px;
    top: 100px;
}
.map-cursor:hover{
    cursor: pointer;
}
.map-cursor:hover .map-cursor-description{
    display: flex;
}
.map-cursor-hover{
    position: absolute;
    z-index: 1;
}
.map-cursor:hover .map-cursor-hover-red{
    position: absolute;
    z-index: 2;
}
.map-cursor-img{
    position: absolute;
    top: 12px;
    left: 12px;
    z-index: 3;
}
.map-cursor-hover-red{
    position: absolute;
}
.map-cursor-description{
    position: absolute;
    top: 90px;
    left: -380px;
    right: -32px;
    max-width: 436px;
    background: #FEFEFE;
    box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.15);
    border-radius: 8px;
    align-items: center;
    padding: 40px;
    display: none;
    z-index: 4;
}
.title-description{
    font-weight: 500;
    font-size: 14px;
    color: #333333;
}
.title-description + span{
    font-weight: normal;
    font-size: 14px;
    color: #4F4F4F;
}
.map-cursor-description-img{
    margin-right: 20px;
}
footer{
    background: #333333;
    color: #FEFEFE;
    padding-top: 100px;
}
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer__content{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.footer__content-logo{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 57px;
    text-decoration: none;
    color: #FEFEFE;
}
.footer__content-logo span:first-child{
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
}
.footer__content-logo span:last-child{
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    letter-spacing: 0.08em;
}
.footer__content h3{
    font-weight: 900;
    font-size: 20px;
    margin-bottom: 33px;
}
form{
    display: flex;
    flex-direction: column;
}
form input{
    outline: none;
    border: none;
    border-bottom: 1px solid #BDBDBD;
    background: #333333;
    max-width: 383px;
    margin-bottom: 20px;
    color: #f3f3f3;
}
form textarea{
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    border-radius: 3px;
    background: #333333;
    max-width: 383px;
    color: #f3f3f3;
    margin-bottom: 25px;
}
.textarea{
    position: relative;
    max-width: 383px;
}
.textarea span{
    position: absolute;
    left: 8px;
    top: -8px;
    display: inline-block;
    background: #333333;
    padding: 0 5px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #BDBDBD;
}
.textarea textarea{
    width: 100%;
}
form label{
    color: #BDBDBD;
}
form label input{
    display: none;
}
.agree-form{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
label span{
    margin-right: 6px;
}
#check{
    display: none;
}
#personalData:checked ~ #check{
    display: block;
}
#personalData:checked ~ #uncheck{
    display: none;
}
button span{
    font-stretch: ultra-condensed;
    margin-left: 24px;
}
.button-form{
    outline: none;
    background: #333333;
    border: none;
    display: flex;
    align-items: center;
    width: 108px;
    margin-left: 320px;
    font-weight: 500;
    font-size: 14px;
    color: #FEFEFE;
}
.button-form:hover{
    cursor: pointer;
    color: #FFFFFF;
}
.footer-nav-list{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0 0 40px;
    flex-wrap: wrap;
}
.footer-nav-list li a{
    text-decoration: none;
    font-weight: 500;
    color: #FEFEFE;
}
.button-gradient-block{
    display: flex;
    justify-content: center;
}
.button-gradient{
    padding: 17px 26px;
    background: linear-gradient(106.89deg, #4BD8B5 -14.32%, #49D6DF 100.68%);
    border-radius: 3px;
    outline: none;
    border: none;
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 245px;
}
.button-gradient a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #FFFFFF;
}
.button-gradient a span{
    font-size: 32px;
    font-weight: 100;
    margin: 0 5px 0 0;
}
.button-gradient:hover{
    cursor: pointer;
    background: linear-gradient(106.89deg, #4BD8B5 100.68%, #49D6DF -5.32%);
}
.footer-address, .footer-contacts{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #FEFEFE;
    margin: 0 0 20px;
}
.footer-icons{
    display: flex;
    align-items: center;
}
.footer-icons a{
    margin-right: 15px;
}
.line{
    height: 1px;
    border-bottom: 1px solid #FEFEFE;
    margin: 60px 0 28px;
}
.footer-author{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #BDBDBD;
    padding-bottom: 72px;
}
.footer-author div:last-child{
    margin-top: 5px;
}
@media (max-width: 1650px) {
    .wrapper{
        margin: 0 15px;
    }
}
@media (max-width: 640px) {
    .footer__content{
        width: 320px;
        margin: 0 5px;
    }
}
@media (max-width: 320px) {

}